# Игнорировать временные файлы сборки
bin/
obj/

# Игнорировать файлы настроек Visual Studio
.vscode/
*.user
*.suo
*.sln.docstates
*.vs

# Игнорировать временные файлы системы
*.tmp
*.log
*.bak

# Игнорировать пакеты NuGet
*.nupkg
packages/

# Игнорировать папку с данными приложения
App_Data/

# Игнорировать файлы конфигурации
*.config
